* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


.border-btn {
    border-radius: 25px;
}

.destaque-cor {
    color: var(--Destaque-color) ;
}

button {
    cursor: pointer;
}
.transform-btn {
    transition: all .3s ease-in-out;
    
}

.transform-btn:hover {
    transform: translateY(-8px);
}

.span-font-size {
     font-size: 65%;
}