:root {
  --font-family: "Golos Text", sans-serif;

  --Branco-color: #dbdbdb;
  --Principal-color: #faf0d6;
  --Destaque-color: #c7b07d;
  --Texto-color: #8c9199;
  --Fundo-Btn-color: hsla(210, 13%, 9%, 0.952);
  --Fundo-Btn-Claro-color: #e8dbb8;
  --Fundo-Btn-Escuro-color: #292929;
  --Fundo-Btn-Claro-Transparente-color: #c0af816e;
  --BackGround-Um-color: #1c1b18;
  --BackGround-Um-claro-color: #201f1c;
  --BackGround-Dois-color: #12151a;

  --Sombra-Img: #1c1b18d2;
}

header {
  background-color: var(--BackGround-Um-color);
}

.header-content {
  width: 100%;
  height: 5em;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
}

.logo-img {
  width: 4.5em;
  height: 4.5em;
  object-fit: contain;
}

.phone-btn {
  letter-spacing: 2.5px;
  padding: 0.7em 2em;
  background-color: #292929;
  border: 2px solid var(--Destaque-color);
  color: var(--Destaque-color);
  transition: all 0.3s ease-in-out;
}

.phone-btn:hover {
  background-color: var(--Destaque-color);
  color: black;
}

/*  */
/* HERO */

.hero-container {
  width: 100%;
  height: 100vh;
  padding: 0 2em;
  margin-top: -5em;
  display: flex;
  align-items: center;
}

.hero-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Branco-color);
}

.hero-txt h1 {
  font-size: 3em;
  line-height: 0.9em;
}

.hero-txt p {
  margin: 1.5em 0 4em 0;
}

.white-btn {
  padding: 1em 2em;
  background-color: var(--Fundo-Btn-Claro-color);
  border: none;
  box-shadow: 0px 0px 30px 1px var(--Fundo-Btn-Claro-Transparente-color);
  font-weight: 600;
}

.transparent-btn {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: transparent;
  border: 2px solid var(--Destaque-color);
  color: var(--Branco-color);
  background-color: var(--Fundo-Btn-Escuro-color);
}

.hero-container-img {
  width: 50%;
  margin-top: 2em;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hero-img {
  width: 38em;
  height: 27em;
  position: relative;
  border: solid 2px var(--Fundo-Btn-Escuro-color);
}

.hero-img::after {
  content: "";
  inset: 0;
  box-shadow: inset 0px -120px 45px -25px var(--Sombra-Img);
  z-index: 1;
  position: absolute;
}

.hero-img-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-img-txt {
  width: 100%;
  height: 100%;
  padding: 1.7em 1.7em 0 1.7em;
  color: var(--Branco-color);
  font-size: 0.65em;
  font-weight: 500;
  letter-spacing: 5px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.hero-experiencia {
  width: 10.5em;
  height: 6.5em;
  font-size: 0.8em;
  background-color: var(--BackGround-Um-claro-color);
  color: var(--Branco-color);
  font-weight: 500;
  padding: 1.4em 1.2em 0 1.2em;
  border: 2px solid var(--Fundo-Btn-Escuro-color);
  position: absolute;
  bottom: -2em;
  left: -1.5vw;
  z-index: 2;
  animation: flutuar 4.5s ease-in-out infinite;
  rotate: 1 2 1 10deg;
}

.hero-experiencia span {
  font-size: 2em;
  font-weight: 600;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/*  */
/* MAIN */

main {
  width: 100%;
  padding: 5em 2em;
  background-color: var(--BackGround-Um-color);
  color: var(--Texto-color);
}

/* SECTION SERVICOS */

.servicos {
    padding-top: 2em;
}

.servicos-txt {
  width: 75%;
  height: 11em;
  margin-bottom: 8%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 2.5em;
  }

  h2 {
    color: var(--Principal-color);
    font-size: 4.4vw;
    line-height: 0.9em;
    margin-bottom: 0.2em;
  }

  p {
    font-size: 1.22vw;
  }
}

.servicos-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.servicos-box {
  width: 48%;
  height: 21.5em;
  background-color: var(--BackGround-Um-claro-color);
  padding: 1.4em;
  border-radius: 27px;
  border: 2px solid var(--Fundo-Btn-Escuro-color);
  display: flex;
  flex-direction: column;
  gap: 0.9em;

  h3 {
    color: var(--Principal-color);
    font-size: 2.2vw;
  }

  p {
    font-size: 1.1vw;
  }

  p::after {
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: var(--Fundo-Btn-Escuro-color);
    display: flex;
  }
}


/*  */
/* TRABALHO */


.trabalho {
    width: 100%;
    padding: 10em 0;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.trabalho-txt {
    display:flex;
    flex-direction: column;


    span {
        margin-bottom: 3em;
    }

    h2 {
        color:var(--Principal-color);
        font-size: 4.4vw;
        line-height: .8em;
        margin-bottom: .5em;
    }

    p {
        font-size: 1.22vw;
    }

}

.trabalho-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.trabalho-box {
    width: 17em;
    height: 9em;
    padding: 1.2em;
    background-color: var(--BackGround-Um-claro-color);
    border: 1px solid var(--Fundo-Btn-Escuro-color);
    border-radius: 22px;
    display:flex;
    flex-direction: column;
    gap: .9em;

    /* background-color: #12151a; */

    h3 {
        color:var(--Principal-color);
        font-size: 1.9vw;
    }

    p {
        font-size: .9vw;
    }
}


/*  */
/* Local */

.local-container {
    width: 100%;
    padding: 8em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.local-txt {
    width: 50%;
    
    h2{
        font-size: 3.8vw;
        color: var(--Principal-color);
        padding: 1em 0 .2em 0;
    }

    p {
        font-size: 1.12vw;
    }
}

.local-box {
    width: 45%;
    margin-left: 4em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    /* align-items: center;
    justify-content: center; */
    
}



.local-item {
    width: auto;
    height: 4em;
    font-size: 1vw;
    background-color: var(--BackGround-Um-claro-color);
    border: 1px solid var(--Fundo-Btn-Escuro-color);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.local-item:last-child {
    grid-column: 1/-1;
    width: auto;
    justify-self: stretch;
}